seqeval~=1.2.2
tqdm~=4.63.1
torchmetrics~=0.7.2
numpy~=1.21.5
keras~=2.4.3
attrs~=21.4.0
tokenizers~=0.11.6
six~=1.16.0
sklearn~=0.0
scikit-learn~=1.0.1
scipy~=1.6.2
packaging~=20.9
ipython~=7.22.0
importlib_metadata~=3.10.0
sentencepiece~=0.1.92
pillow~=9.0.1
requests~=2.27.1
tensorboard~=2.4.0
transformers~=4.17.0
dataclasses~=0.8
h5py~=3.6.0
openprompt~=1.0.0